body {
    background-color: gray;

}

.header {
    padding: 10px;
}

.links {
    display: inline;
    margin-left: 250px;
    font-weight: bold;
}

.links a {
    margin-left: 15px;
    text-decoration: overline;
    font-weight: bolder;
    color: black;
    padding: 15px;

}

.links a:hover {
    color: rgb(128, 128, 17);
    border-top: 2px solid #d19f15;
    border-bottom: 2px solid #d19f15;
}

.link-a-1 {
    background-color: #d19f15;
    border: black solid 2px;
    font-weight: bold;
    padding: 10px;
}

.link-a-2 {
    background-color: #d19f15;
    border: black solid 2px;
    font-weight: bold;
    padding: 10px;
}

.link-a-3 {
    background-color: #d19f15;
    border: black solid 2px;
    font-weight: bold;
    padding: 10px;
}

.span-1,
.span-2{
    font-weight: bold;
    font-size: 50px;
}

.span-1 {
    color: #0a0a08;
}

.span-2 {
    color: #d19f15;
}

.secao-1 {
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 50px;
}




